header{
  .container{
    height: 240px;
    display: block;
    background-image: url('/img/header_banner.png');
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;

    .download{
      position: absolute;
      bottom: 15px;
      right: 15px;

      .store{
        display: block;
        width: 138px;
        height: 41px;
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 10px 10px 0;
        opacity: 0.75;
        transition: all 0.3 linear;

        &:hover{
          opacity: 1;
        }

        &.apple{
          background-image: url('/img/apple-download.png');
        }

        &.google{
          background-image: url('/img/google-download.png');
        }
      }
    }
  }
}
