<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Deadman's Cross Cards Viwer</title>
  <!-- bower:css -->
  <link rel="stylesheet" href="/bower_components/magnific-popup/dist/magnific-popup.css" />
  <link rel="stylesheet" href="/bower_components/toastr/toastr.css" />
  <link rel="stylesheet" href="/bower_components/bootstrap-css/css/bootstrap.min.css" />
  <!-- endbower -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900"/>
  <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div id="app">{{html|safe}}</div>
<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="/bower_components/toastr/toastr.js"></script>
<script src="/bower_components/bootstrap-css/js/bootstrap.min.js"></script>
<script src="/bower_components/moment/moment.js"></script>
<!-- endbower -->
<script src="/js/bundle.js"></script>
</body>
</html>
