ul{
  &.card-list{
    width: 100%;
    text-align: center;
    @extend .no-margin;

    li{
      list-style: none;
      display: inline-block;
      width:  150px;
      margin: 15px;

      a{
        img{
          width: 100%;
        }
      }
    }
  }
}
