.card-info-link{
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;

  .flipper-block{
    width: 150px;
    height: 225px;
    display: block;
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
  }

  &:hover{
    cursor: pointer;

    .flipper{
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      transform: rotateY(180deg);
    }
  }

  .flipper{
    position: relative;
    width: 150px;
    height: 225px;
    @include my-transition(all 0.4s linear);
    transform-style: preserve-3d;

    .flipper-front{
      @extend .flipper-block;
      z-index: 2;
      transform: rotateY(0deg);
    }

    .flipper-back{
      @extend .flipper-block;
      transform: rotateY(180deg);

      padding: 10px;
      border-radius: 5px;
      background: #dedede;
      border: 1px solid #dedede;
    }
  }

  img{
    width: 100%;
  }
}
